<div
  (click)="goShowRecipe(recipe.id)"
  class="bg-white mt-12 flex border border-black border-2 w-11/12 h-72"
>
  <div class="w-2/4">
    <img
      class="h-full w-full object-cover cursor-pointer"
      src="data:image/jpg;base64,{{ recipe.photo }}"
    />
  </div>
  <div class="w-2/3 pl-4 h-max">
    <h1 class="text-2xl font-bold mt-2">{{ recipe.title }}</h1>
    <div class="text-justify mt-8 min-h-32 max-h-32 p-3">
      {{ recipe.description }}
    </div>
    <div class="flex items-end mt-6">
      <img
        (click)="goProfile(recipe.user_id)"
        class="h-8 w-8 mr-2 object-cover rounded-full mb-4 cursor-pointer"
        src="data:image/jpg;base64,{{ recipe.userPhoto }}"
      />
      <p (click)="goProfile(recipe.user_id)" class="mb-5 cursor-pointer">
        {{ recipe.username }}
      </p>
      <div
        class="ml-auto w-2/5 mr-4 flex flex-wrap justify-around inline-block align-baseline"
      >
        <div *ngFor="let index of getDiffFor(diff)">
          <img src="../../../assets/olla.png" alt="" class="w-16 h-16" />
        </div>
      </div>
    </div>
  </div>
</div>
